// Paleta de colores
$color-negro: #111111;
$color-blanc0: #ffffff;
$color-ocre: #997a00;
$color-gris: #333333;

footer {
  background-image: linear-gradient(to right, $color-ocre, $color-gris);
  color: $color-blanc0;

}

#logoFooter {
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
}

#copyright {
  color: #fff;
  text-align: center;
}
