@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap");
#contenedor-nav {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to left, #997a00, #333333);
}

footer {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to right, #997a00, #333333);
  color: #ffffff;
  margin-top: 10px;
}

#mapaSitio {
  list-style: none;
}

#mapaSitio li a {
  color: #fff;
  text-decoration: none;
  font-size: small;
}

#copyright {
  color: #fff;
  text-align: center;
}

.contacto {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
  height: 500px;
  margin-bottom: 5px;
}

.contacto h2 {
  color: #ffffff;
}

.formularioContacto {
  color: #ffffff;
  text-align: center;
}

#input-nombre,
#input-apellido {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#select-cursos {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#textarea-consulta {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

/* -----------------------Main------------------------------ */
#main .carousel-inner img {
  max-height: 70vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

/* -----------------------Master------------------------------ */
#master {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
  color: white;
}

/* -----------------------Cursos------------------------------ */
#cursos {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
}

#master img {
  max-width: 100%;
}

/* -----------------------Quienes Somos------------------------------ */
#quienesomos {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
  color: black;
}

#quienesomos img {
  max-width: 100%;
}

/* -----------------------Formulario------------------------------ */
#formulario {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #111111;
}
/*# sourceMappingURL=style.css.map */
