/*  GENERAL  */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #111111;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap");

/*  CABECERA  */

#contenedor-nav {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to left, #997a00, #333333);
}

/*  FIN CABECERA  */

/*  Footer  */

footer {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to right, #997a00, #333333);
  color: #ffffff;
  
}

#logoFooter {
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
}



#copyright {
  color: #fff;
  text-align: center;
}

/*  Fin Footer  */

/*  CONTACTO  */

.contacto {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333); 
  padding: 10px; 
}

.contacto h2 {
  color: #ffffff;
}

.formularioContacto {
  color: #ffffff;
  text-align: center;
}

#input-nombre,
#input-apellido {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#select-cursos {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#textarea-consulta {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

/*  FIN CONTACTO  */

/*  MAIN  */

#main .carousel-inner img {
  max-height: 70vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
/*  FIN MAIN  */

/*  MASTER  */

#master {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
  color: white;
}

/*  FIN MASTER  */


/*  CURSOS  */
#cursos {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
}

#master img {
  max-width: 100%;
}

/*  FIN CURSOS  */

/*  QUIENES SOMOS  */

#quienesomos {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
  color: white
}

#quienesomos img {
  max-width: 100%;
}

/*  FIN QUIENES SOMOS  */


/*  CONTACTO  */
#formulario {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#997a00),
    to(#333333)
  );
  background-image: linear-gradient(to bottom, #997a00, #333333);
}
/*  FIN CONTACTO  */


/*# sourceMappingURL=style.css.map */
